html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}


body {
    line-height:1;
    font-family: Arial;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*
My Code
*/
.main-wrapper{
    margin: 0 auto;
    width: 1000px;
}

a{
    text-decoration: none;
}



body {
  background-color: #eee;
}


table#jobs {
  width: 100%;
}

table#jobs  th {
  padding: 10px;
  background-color: #F38130;
  color: #fff;
  text-align: left;
}

table#jobs  td {
  padding: 10px;
  font-size: 12px;
}

table#jobs tr:nth-child(2n+1) {
  background-color: #eee;
}


/* NAV BAR STYLES */

header div.nav-bottom {
  width: 100%;
  height: 5px;
  background-color: #000;
}

@media only screen and (max-width: 480px) {
  header nav{
      width: 100%;
      height: 60px;
      background-color: #0E66B0;
  }

  header nav ul{
      float: left;
  }

  header nav ul li{
      float: left;
      list-style: none;
  }

  header nav ul li a{
      font-family: arial;
      font-size: 16px;
      color: #111;
      line-height: 63px;
  }


header .nav-login {
  float: right;
}
  header .nav-login form{
      padding-top: 15px;
      float: left;
  }

  header .nav-login form input{
      float: left;
      width: 140px;
      height: 30px;
      padding: 0px 10px;
      margin-right: 10px;
      border: none;
      background-color: #ffffff;
      font-family: arial;
      font-size: 14px;
      color: #111;
      line-height: 30px;
  }

  header .nav-login form button{
      float: left;
      width: 140px;
      height: 30px;
      margin-right: 10px;
      border: none;
      background-color: #F38130;
      font-family: arial;
      font-size: 14px;
      color: #fff;
      cursor: pointer;

  }

  header .nav-login form button:hover{
      background-color: #df7813;
  }

  header .nav-login a{
      display: block;
      width: 60px;
      height: 60px;
      border: none;
      float: left;
      font-family: arial;
      font-size: 16px;
      color: #FFF;
      line-height: 63px;
      cursor: pointer;
  }

  header .navbar {
    float: left;
  }

  header .navbar li {
    margin: 0 10px;
  }

  header .navbar a{
    color: #F38130;
    font-weight: bold;
    font-size: 12px
  }

  header .title {
    display: none;
  }
}


@media only screen and (min-width: 481px) {
  header nav{
      width: 100%;
      height: 60px;
      background-color: #0E66B0;
  }

  header nav ul{
      float: left;
  }

  header nav ul li{
      float: left;
      list-style: none;
  }

  header nav ul li a{
      font-family: arial;
      font-size: 16px;
      color: #111;
      line-height: 60px;
  }

  header .nav-login {
    float: right;
  }

  header .nav-login form{
      padding-top: 15px;
      float: left;
  }

  header .nav-login form input{
      float: left;
      width: 140px;
      height: 30px;
      padding: 0px 10px;
      margin-right: 10px;
      border: none;
      background-color: #ffffff;
      font-family: arial;
      font-size: 14px;
      color: #111;
      line-height: 30px;
  }

  header .nav-login form button{
      float: left;
      width: 140px;
      height: 30px;
      margin-right: 10px;
      border: none;
      background-color: #F38130;
      font-family: arial;
      font-size: 14px;
      color: #fff;
      cursor: pointer;

  }

  header .nav-login form button:hover{
      background-color: #df7813;
  }

  header .nav-login a{
      display: block;
      width: 60px;
      height: 60px;
      border: none;
      float: left;
      font-family: arial;
      font-size: 16px;
      color: #FFF;
      line-height: 63px;
      cursor: pointer;
  }

  header .navbar {
    width: auto;
    float: right;
  }

  header .navbar li {
    padding: 0 15px;
  }

  header .navbar li:hover {
    padding: 0 15px;
    background-color: #F38130;
  }

  header .navbar a{
    color: #FFF;
    font-weight: bold;
  }

  header .title {
    color: #fff;
    float: left;
    padding: 20px 0;
    vertical-align: middle;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
  }
}


.main-container{
    padding-top: 40px;
    width: 80%;
    margin: 0 10%;
}

.main-container h2{
    font-family: arial;
    font-size: 16px;
    line-height: 50px;
    color: #111;
    text-align: center;
}

/*Signup php*/
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input.text-input{
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
    margin-bottom: 4px;
}

.signup-form button {
    display: block;
    width: 30%;
    height: 40px;
    border: none;
    margin: 0 auto;
    color: white;
    background-color: #F38130;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #df7813;
}


/*form type A*/

.formA input {
  padding: 0 10px;
  height: 25px;
  font-size: 14px;
  width: 50%;
}

.formA textarea {
  width: 70%;
  height: 80px;
  resize: none;
  font-size: 14px;
  padding: 10px 10px;
}

.formA select {
  font-size: 14px;
}

.formA button {
    display: block;
    width: 150px;
    height: 40px;
    border: none;
    margin: 0 auto;
    color: white;
    background-color: #F38130;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.formA button:hover {
    background-color: #df7813;
}

/*Search jobs form*/

.search-form input {
  padding: 0 10px;
  height: 40px;
  font-size: 16px;
}
.search-form #job-title {
  width: 50%;
}

.search-form #location {
  width: 10%;
}

.search-form button {
    width: 100px;
    height: 40px;
    border: none;
    margin: 0 auto;
    color: white;
    background-color: #F38130;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #df7813;
}

/*Classes*/
.profile-container {
  border: 4px solid #ccc;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
}

.login-container {
    background: linear-gradient(to right, #ddd, #555);
    padding: 15px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.profile-thumbnail {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px dashed;
}

.applicant-info {
  float: left;
  line-height: 50px;
  padding: 0px 0px 0px 30px;
}

body a {
  color: #0E66B0;
  font-weight: bold;
}

/* HOME SCREEN STYLES */
@media only screen and (min-width: 481px) and (max-width: 800px) {
  #home-logo {
    width: 500px;
    height: 300px;
    margin: 0 10%;
    background-image: url("../images/mav-logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 801px) {
  #home-logo {
    width: 750px;
    height: 500px;
    margin: 0 10%;
    background-image: url("../images/mav-logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

#profile-photo {
  width: 150px;
  margin: 0 0 30px 0;
  border: 4px dashed;
  border-color: #F38130;
}

#register {
  color:  #ffffff;
}

#job-listings {
  width: 90%;
  border: 4px solid #ccc;
  background-color: #fff;
  margin: 0 5%;
  padding: 10px;
}

#search-listings {
   width: 70%;
  border: 4px solid #ccc;
  background-color: #fff;
  margin: 70px;
  padding: 20px;
}
